/* FONTS */

/* FONT DA USARE
.roboto-<class> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <100 to 900>;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
} */

.contenitore-carte {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 960px;
    margin: 0 auto;
}

.carta {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - 2 * 20px) / 3);
    min-width: 300px;
    border: 2px solid black;
    text-align: center;
    box-sizing: border-box;
}

.lista-funzioni {
    list-style: none;
    padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
  "wdth" 100; 
}

.carta:first-child .scegli-piano {
    background-color: #bd18e0;
    color: white;
    border-color: #bd18e0;
    padding: 12px 24px;
    margin-top: 5px;
    border-radius: 13%;
    font-size: large;
}

.scegli-piano {
    background-color: blue;
    color: white;
    border-color: blue;
    padding: 12px 24px;
    margin-top: 5px;
    border-radius: 13%;
    font-size: large;
}

.carta:last-child .scegli-piano {
    background-color: #bd18e0;
    color: white;
    border-color: #bd18e0;
    padding: 12px 24px;
    margin-top: 5px;
    border-radius: 13%;
    font-size: large;
}